<link rel="stylesheet" href="https://necolas.github.io/normalize.css/3.0.2/normalize.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,latin-ext">

<!-- navbar -->
<nav class="navbar">

  <div class="container">

    <h1 class="logo"><a href="#">Simple Navbar</a></h1>
    <ul class="nav nav-right">

    </ul>
  </div><!--/.container-->

</nav><!--/.navbar-->

<div class="container">
  <h1>Simple Navbar</h1>
  <p>This is simple navbar somehow inspired Material Design, pure CSS.</p>
</div><!--/.container-->
