{% extends 'base.html' %} {% block content%}
<div class="container-fluid" style="margin-top:150px">
  {% if user.is_authenticated %}
  <div class="col-sm-7">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-10">
      <div class="well" style="background-color:white">
        <header>
          <img src="https://static.pexels.com/photos/34950/pexels-photo.jpg" alt="" style="height:50px;width:50px; border-radius:50%">
          <p style="display:inline; margin-left:10px; font-weight:bolder; font-size:16px">Newton Kipng'eno Bii</p>
        </header>
        <img src="https://static.pexels.com/photos/34950/pexels-photo.jpg" class="img-responsive">
        <div class="like" style="font-size:30px">
          <i class="fa fa-heart-o" aria-hidden="true" style="margin-right:5px"></i>
          <i class="fa fa-comments-o" aria-hidden="true"></i>
          <i class="fa fa-bookmark-o" aria-hidden="true" style="float:right"></i>
        </div>
        <p style="margin-top:10px;font-weight:bolder; font-size:16px">1000 Likes</p><br>
        <p style="margin-top:-20px"><span style=" margin-right:10px; font-weight:bolder; font-size:16px">Kepha Okari</span>Awesome Place</p>
        <p style="font-size:14px;color:grey">5 DAYS AGO</p>
        <hr>
        <form class="" action="" method="post">
          <input type="text" name="" value="" placeholder="Add a comment" style="border:none; padding:10px; width:100%">
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="col-sm-8">
      <div class="container-fluid" style="position:fixed; width:350px">
        <header>
          <img src="https://static.pexels.com/photos/34950/pexels-photo.jpg" alt="" style="height:50px;width:50px; border-radius:50%; float:left; margin-right:15px">
          <p style="font-weight:bold;font-size:16px">biinewton<br><span style="font-size:15px;font-weight:normal; color:grey">Newton Bii</span></p>
        </header>
        <hr>
        <p style="float:left; font-size:15px; font-weight:bolder; color:grey">Stories</p>
        <p style="float:right; font-weight:bolder; font-size:15px">Watch All</p>
        <div class="stories" style="overflow-y:auto; height:300px;margin-top:50px;padding:10px; border-bottom: 1px solid #ddd; width:100%">
          <div class="user_stories" style="margin-bottom:20px">
            <img src="https://static.pexels.com/photos/34950/pexels-photo.jpg" alt="" style="height:50px;width:50px; border-radius:50%; float:left; margin-right:15px">
            <p style="font-weight:bold;font-size:16px">biinewton<br><span style="font-size:15px;font-weight:normal; color:grey">20 minutes ago</span></p>
          </div>
          <div class="user_stories" style="margin-bottom:20px">
            <img src="https://static.pexels.com/photos/34950/pexels-photo.jpg" alt="" style="height:50px;width:50px; border-radius:50%; float:left; margin-right:15px">
            <p style="font-weight:bold;font-size:16px">biinewton<br><span style="font-size:15px;font-weight:normal; color:grey">20 minutes ago</span></p>
          </div>
          <div class="user_stories" style="margin-bottom:20px">
            <img src="https://static.pexels.com/photos/34950/pexels-photo.jpg" alt="" style="height:50px;width:50px; border-radius:50%; float:left; margin-right:15px">
            <p style="font-weight:bold;font-size:16px">biinewton<br><span style="font-size:15px;font-weight:normal; color:grey">20 minutes ago</span></p>
          </div>
          <div class="user_stories" style="margin-bottom:20px">
            <img src="https://static.pexels.com/photos/34950/pexels-photo.jpg" alt="" style="height:50px;width:50px; border-radius:50%; float:left; margin-right:15px">
            <p style="font-weight:bold;font-size:16px">biinewton<br><span style="font-size:15px;font-weight:normal; color:grey">20 minutes ago</span></p>
          </div>
          <div class="user_stories" style="margin-bottom:20px">
            <img src="https://static.pexels.com/photos/34950/pexels-photo.jpg" alt="" style="height:50px;width:50px; border-radius:50%; float:left; margin-right:15px">
            <p style="font-weight:bold;font-size:16px">biinewton<br><span style="font-size:15px;font-weight:normal; color:grey">20 minutes ago</span></p>
          </div>
        </div>
      </div>
      </div>

    <div class="col-sm-4">

    </div>
    {% else %}
    <div class="col-sm-3">
      </div>
      <div class="col-sm-6">
        <div class="well" style="background-color:white">
          <header>
            <img src="https://static.pexels.com/photos/34950/pexels-photo.jpg" alt="" style="height:50px;width:50px; border-radius:50%">
            <p style="display:inline; margin-left:10px; font-weight:bolder; font-size:16px">Newton Kipng'eno Bii</p>
          </header>
          <img src="https://static.pexels.com/photos/34950/pexels-photo.jpg" class="img-responsive">
          <div class="like" style="font-size:30px">
            <i class="fa fa-heart-o" aria-hidden="true" style="margin-right:5px"></i>
            <i class="fa fa-comments-o" aria-hidden="true"></i>
            <i class="fa fa-bookmark-o" aria-hidden="true" style="float:right"></i>
          </div>
          <p style="margin-top:10px;font-weight:bolder; font-size:16px">1000 Likes</p><br>
          <p style="margin-top:-20px"><span style=" margin-right:10px; font-weight:bolder; font-size:16px">Kepha Okari</span>Awesome Place</p>
          <p style="font-size:14px;color:grey">5 DAYS AGO</p>
          <hr>
          <form class="" action="" method="post">
            <input type="text" name="" value="" placeholder="Add a comment" style="border:none; padding:10px; width:100%">
          </form>
        </div>
      </div>
      <div class="col-sm-3">
      </div>
  {% endif %}
</div>
{% endblock %}
